@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    background-color: #fcf5eb;
}
.whole{
    margin-top: 8vh;
    margin-left: 7vw;
    box-shadow: 6px 6px 5px rgb(212, 193, 177);
}
.left{
    width: 56vw;
    height: 83vh;
    background-color: #2e4d7b;
}
.header{
    padding-top: 6vh;
    display: flex;
    padding-left: 2.5vw;
    
}
ul{
    padding-left: -1vw;
}
a{
    text-decoration: none;
    letter-spacing: 4px;
    color: #fcf5eb;
    font-size: 14.5px;
    font-family: 'Open Sans', sans-serif;
}
li{
    color: #fcf5eb;
    font-size: 14.5px;
    display: inline;
    margin-left: 1vw;
    
}
.header ul{
    list-style-type: none;
    
}

.bold{
    font-weight: 600;
}
.arrow{
    font-weight: 600;
    font-size: 20px;
}
img{
    margin-left: 5px;
    margin-top: -18px;
}
hr{
    margin-top: 1vh;
    margin-left: 1vw;
    width: 93%;
}
.nst{
    margin-top: 1vh;
    margin-left: 2.6vw;
    
}
.name{
    color: white;
    font-family: 'Michroma', sans-serif;
    margin-left: 4vw;
    font-size: 30px;
    margin-top: -1vh;
}
.normal{
    font-weight: lighter;
}
.sub{
    font-size: 11px;
    font-family: 'Michroma', sans-serif;
    color: white;
    margin-left: 4vw;

}

.subsub{
    margin-left: 4vw;
    width: 25vw;
    color: white;
    margin-top: 1.5vh;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.subleft{
    margin-right: 33vw;
}
.subright{
    margin-top: -4vh;
    margin-left: -4vw;
}
.team{
    margin-left: 4vw;
    color: white;
    display: flex;
    margin-top: 2.5vh;
    padding-right: 2.5vw;
    font-family: 'Open Sans', sans-serif;
}
    
.price{
    margin-left: 3.5vw;
    margin-top: 1vh;
}
.crownn{
    display: flex;
}
.online{
    margin-top: 6.5vh;
    margin-left: 4vw;
    display: flex;
    color: white;
}

.underline{
text-decoration: underline;
}
.brochure{
    color: white;
    display: flex;
    margin-left: 4vw;
}

.brochure p{
    margin-left: 1vw;
    color: white;
    margin-top: 2vh;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.ee{
    margin-left: 4vw;
    width: 83%;
    margin-top: 2vh;
}

.whatsapp{
    margin-left: 4vw;
    display: flex;
    color: #5c99f1;
    margin-top: 1vh;
}

.whatsapp p{
    color: white;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.5vw;
}
.michroma{
    font-family: 'Michroma', sans-serif;
}
.register{
    font-family: 'Michroma', sans-serif;
    display: flex;
    margin-left: 4vw;
    margin-top: 2vh;
}

button{
    background-color: #fcf5eb;
    border-radius: 18px;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid #2e4d7b;
    letter-spacing: 1.5px;
    color: #2e4d7b;
}

.text{
    margin-left: 0.8vw;
    font-size: 10px;
    letter-spacing: 2.5px;
    color: white;
}

.middle{
    display: flex;
    justify-content: space-between;
}

.nritya{
    margin-top: 7vh;
    margin-left: -27vw;
}

.lowertt{
    color: white;
    font-size: 10px;
    width: 20vw;
    margin-left: -25vw;
    letter-spacing: 2px;
}
.shift{
    margin-top: 0.4vh;
}
.small{
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
}
.time{
    display: flex;
    margin-left: -25vw;
    margin-top: 2vh;
}


.white{
    background-color: #84aae1;
    height: 70px;
    width: 70px;
    margin-right: 1vw;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    font-family: 'DM Serif Display', serif;
}

.purple{
    background-color: #5383c8;
    height: 70px;
    width: 70px;
    margin-right: 1vw;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-bottom: 0.2vh;
    font-family: 'DM Serif Display', serif;
}
.day{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.5vh;
    font-size: 8px;
    margin-left: 0.95vw;
}


.hour{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.5vh;
    font-size: 8px;
    margin-left: 0.8vw;
}

.minute{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.5vh;
    font-size: 8px;
    margin-left: 1.5vw;
}

.second{
    font-family: 'Michroma', sans-serif;
    color: #fcf5eb;
    margin-top: 0.5vh;
    font-size: 8px;
    margin-left: 0.3vw;
}
.nrityakala{
    display: flex;
    padding-bottom: 1vh;
}
.right{
    width: 30vw;
    height: 81vh;
    background-color: #fcf5eb;
}

.right img{
    margin-left: 3.5vw;
    margin-top: 3vh;
}
.italic{
    font-style: italic;
}
.low{
    margin-top: 0.3vh;
}
.logo{
    background-color: #2e4d7b;
    width: 75%;
    margin-left: 2vw;
    margin-top: -.5vh;
}
.ttright{
    font-family: 'Michroma', sans-serif;
    margin-top: 3vh;
    margin-left: 13.1vw;
    font-size: 30px;
    color: #2e4d7b;
}

.tttright{
    font-family: 'Michroma', sans-serif;
    margin-left: 17.8vw;
    font-size: 15px;
    color: #2e4d7b;
}

.smalltt{
    color: #2e4d7b;
    margin-left: 19vh;
    font-size: 10px;
    width: 15vw;
    text-align: right;
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;

}

.cone{
    display: flex;
    color: #2e4d7b;
    font-family: 'Open Sans', sans-serif;
    margin-left: 11.4vw;
    margin-top: 2vh;
    font-size: 13px;
}
.contact{
    padding-right: 1vw;
}

.cname{
    letter-spacing: 2px;
}
.cno{
    letter-spacing: 3px;
}

.icons{
    margin-left: 17.6vw;
    margin-top: 3vh;
}
.circle{
    border: 2px solid #2e4d7b;
    border-radius: 100%;
    color: #2e4d7b;
    padding: 5px;
}

.ids{
    color: #2e4d7b;
    margin-right: 5.9vw;
    text-align: right;
    margin-top: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    background-color: #fcf5eb;
    height: 2vh;
    font-size: 11px;
    color: #2e4d7b;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: -5vh;
    
}

.div{
    box-shadow: 6px 6px #fcf5eb;
    font-family: 'PT Sans', sans-serif;
}
